* {
    font-family: sans-serif;
}
.pin, textarea {
    font-family: monospace;
}

.pin, option {
    white-space: pre;
}

input, select, button, table, textarea {
    margin: 4pt;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
}

section, table {
    display: inline-block;
    vertical-align: top;
}

table {
    margin-left: 12pt;
}

th, td {
    border: 1.5px solid black;
    padding: 6pt;
}

th {
    background-color: lightgray;
}

textarea {
    resize: none;
}
