* {
    font-family: sans-serif;
}
.pin, textarea {
    font-family: monospace;
}

.pin, option, textarea {
    white-space: pre;
}

h1, h2, label, input, select, button, table, textarea {
    margin: 4pt;
}

table, th, td {
    border-collapse: collapse;
    text-align: center;
}

section, table {
    display: inline-block;
    vertical-align: top;
}

table {
    margin-left: 12pt;
}

th, td {
    border: 1px solid black;
    padding: 6pt;
}

th {
    background-color: lightgray;
}

textarea {
    overflow: auto;
    resize: none;
}

.overline {
    border-top: 1.75px solid black;
    display: inline-block;
    box-sizing: border-box;
}

.overline .overline {
    margin-top: 2px;
}
